img {
  height: 200px;
  aspect-ratio: 1;
  object-fit: contain;
}
body {
  height: 100vh;
}
main {
  overflow: scroll;
}
.productCard {
  width: 250px;
  aspect-ratio: 2/3;
}
nav {
  min-width: 200px;
}
#productCart {
  display: none;
  height: 100vh;
  margin: 0px auto;
}
.cartCard {
  margin: 20px;
  width: 400px;
}
